# Fichiers non-synchronisés

# vsCode
.vscode/
.vs/

# PlatformIO
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.pio


# DrawIo
*.bkp

# Autres
~$*
*~

# - - - OS - - -  
## windows

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

## macos

# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

## linux

*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*
